<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>

        <h1>Welcome to alumni</h1>  

                        {% for post in posts %}
                          <div>
                  user name : {{posts[post]["userName"]}}
                </div> 
                                          <div>
                 date : {{posts[post]["date"]}}
                </div>
                                          <div>
                 story : {{posts[post]["story"]}}
                </div>  
                        {% endfor %} 

    <a href="/posting"><button>post</button></a>
    
  </body>
</html>
