<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    <form method="post" action="/posting">
        <!-- Heading -->
        <h4>
       post your story to everyone
        </h4>

        <!-- Subheading -->
        <p >
        so that you benifit everybody else 
        </p>

  
           <div>
            <label>username*</label>
            <div class="input-group">
                <input type="text"  name="username" >
            </div>
        </div>

        <div>
            <label>date*</label>
            <div class="input-group">
                <input type="date"  name="date">
            </div>
        </div>


            <div>
        now tell us your story
    </div>
   
                <div>
             <div class="input-group">
                <input type="text"  name="story" >
            </div>
    <br>
            </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>

        

    </form>
    


</body>
</html>