<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    <form method="post" action="/">
        <!-- Heading -->
        <h4>
        sign in to your account
        </h4>

        <!-- Subheading -->
        <p >
        Please fill up your information below to sign in.
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>


            <div>
        are you a lissan's alumni ?
    </div>
   
                <div>
                <input type="radio" name="alumni" value="alumni">yes
                <input type="radio" name="alimni" value="notalumni">no
    <br>
            </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>

        

    </form>
    


</body>
</html>